<div class="reservation-form" style="margin-left:30px; text-align: center">
  <div class="reservation-column">
    <%= form_for @reservation, :url => {:controller => "reservations", :action => "update" }, :method => "PATCH" do |f| %>
      <h4 class="heading-title">
        Edit a Reservation
      </h4>
      <div class="flash-message" style="color:blue;">
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </div>
      <div class="reservation-form-container">
        <div class="reservation-form__room">
          <%= f.label :room, "Room" %>
          <%= f.text_field :room %>
        </div>
        <div class="reservation-form__customer">
          <%= f.label :customer, "Customer" %>
          <%= f.text_field :customer %>
        </div>
        <div class="reservation-form__checkin">
          <%= f.label :checkin, "Check-in" %>
          <%= f.date_field :checkin %>
        </div>
        <div class="reservation-form__checkout">
          <%= f.label :checkout, "Check-out" %>
          <%= f.date_field :checkout %>
        </div>
        <div class="reservation-form__vehicle">
          <%= f.label :vehicle, "Any Vehicle?" %>
          <%= f.text_field :vehicle %>
        </div>
        <div class="reservation-form__on-next-day">
          <%= f.label :on_next_day, "On Next Day" %>
          <%= f.text_field :on_next_day %>
        </div>
        <div class="reservation-form__notes">
          <%= f.label :notes, "Notes" %>
          <%= f.text_field :notes %>
        </div>
      </div>

      <!-- create booking reservation buttons -->
      <div class="reservation-form-container">
        <div class="form-field">
          <button type="submit" name="commit" class="button button--secondary">Edit Reservation</button>
        </div>
      </div>
    <% end %>
</div>