<div class="flash-message" style="color:blue;">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>
<div class style="margin-left:20px; text-align: center">
  <div class="container">
    <h1><%= @board.name %> Board</h1>
    <div class="buttons" style="padding-bottom: 20px">
      <%= link_to 'Create a new Reservation', new_board_reservation_path(@board), class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Back to All Boards', :root, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Delete Old Reservations", delete_old_path(@board), method: :get, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Room</th>
            <th>Guest</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>On Next Day Out</th>
            <th>Vehicle</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <% @reservations.each do |r| %>
          <tbody>
            <tr>
              <td><%= r.room %></td>
              <td><%= r.customer %></td>
              <td><%= r.checkin.mon %>/<%= r.checkin.mday %></td>
              <td><%= r.checkout.mon %>/<%= r.checkout.mday %></td>
              <td><%= r.on_next_day %></td>
              <td><%= r.vehicle %></td>
              <td><%= r.notes %></td>
              <td><%= link_to "Edit", edit_board_reservation_path(r), class: 'btn btn-primary btn-sm' %></td>

              <td><%= link_to "Delete", board_reservation_path(r), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm' %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <%= link_to 'Create a new Reservation', new_board_reservation_path(@board), class: 'btn btn-primary btn-lg' %>

    <%= link_to 'Back to All Boards', :root, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Delete Old Reservations", delete_old_path(@board), method: :get, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-lg' %>
  </div>
</div>